@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-bar {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes LeftSideNavigationOpen{
    0%{
        width: 0%;
    }
    100%{
        width: 100%
    }
}

@keyframes LeftSideNavigationClose{
    0%{
        width: 100%
    }
    100%{
        width: 0%;
    }
}

.LeftNav{
    animation:LeftSideNavigationOpen 0.3s forwards;
}

.LeftNavClose{
    animation:LeftSideNavigationClose 0.3s forwards;
}