@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-bar {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


  